body {
  background-color: #f9fbfa;
  height: 100%;
}
.full-height {
  height: 100vh;
  width: 100%;
}
#page_header {
  /*flex: 0 0 auto;*/
  border-bottom: 1px solid black;
  padding-top: auto;
  padding-left: 35px;
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
}
#page_header h1 {
  font-size: 40px;
  font-weight: 700;
  color: darkred;
}
#main-container {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow-y: auto;
}
#sidebar {
  width: 20%;
  border-right: 1px solid black;
  background-color: white;
  min-height: 90vh;
  overflow-y: auto;
}
#main-content {
  height: 100%;
  width: 80%;
}
#menu-list {
  list-style-type: none;
  padding-top: 30px;
}
#menu-list li {
  padding: 15px 15px;
}
#menu-list li a {
  text-decoration: none;
  color: black;
}
#menu-list li:hover {
  cursor: pointer;
  background-color: #f9fbfa;
}
#menu-list li img {
  position: relative;
  /*top: 2px;*/
  margin-right: 10px;
}
#content-header {
  font-size: 40px;
  font-weight: bold;
}
#content-header {
  margin-top: 50px;
}
.input_radio_button {
  width: 0px;
  height: 0px;
}
.div_radio_button:hover {
  border: 1px solid #65c897;
  color: #65c897;
}
.div_radio_button {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;
}
#div_schoolName_continue {
  width: 100%;
}
.input-lg {
  width: 70%;
}